$border: 2px solid black;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: rgb(49, 49, 163);
    color: white;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2, h5 {
    cursor: pointer;
    margin: 15px;
    letter-spacing: 0.25em
}

h2:hover, h5:hover {
    animation-timing-function: ease-in;
    animation-name: idayvuelta;
    animation-duration: 0.4s;
    animation-direction: alternate;
}

@keyframes idayvuelta {
    0%  { transform: scale(1, 1); }
    50% { transform: scale(0.7, 0.7); }
    100% { transform: scale(1, 1); }
}

table {

    background-color: white;
    border: $border;

    tr {
        @for $i from 1 through 9 {
            &:nth-child(#{$i}) .hora:hover {
                @if $i%2 == 0 {
                    background-color: rgb(49, 49, 49);
                } @else {
                    background-color: rgb(163, 163, 163);
                }
            }       
        }
        
        &:first-child th:not(:first-child):hover p {
            animation-timing-function: ease-in;
            animation-name: neblina;
            animation-duration: 0.4s;
            animation-direction: alternate;
        }

        @keyframes neblina {
            0%  { transform: scale(0.5, 1); filter: blur(4px); }
            100% { transform: scale(1, 1); }
        }
        

        th, td {
            cursor: pointer;
            width: 200px;
            height: 75px;
        }
    
        th {
            background-color: rgb(99, 99, 99);
        }
    
        td {
            overflow: hidden;
            border: $border;
            text-align: center;
            font-weight: bold;
    
            p {
                font-weight: bold;
                text-align: center;
                background-color: black;
    
                border-top-right-radius: 30%;
                border-bottom-right-radius: 30%;
                border-top-left-radius: 30%;
                border-bottom-left-radius: 30%;
            }

            &:hover p {
                visibility: hidden;
            }
        }

        .back {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .gow {
            background-image: url("../imgs/gow.webp");
            background-color: rgb(108, 171, 223);

            &:hover {
                animation-fill-mode: forwards;
                animation-timing-function: ease-in;
                animation-name: subir;
                animation-duration: 4s;
            }

            @keyframes subir {
                0%  { transform: scale(1, 1); background-position-y: top 50px; }
                100% { transform: scale(1.5, 1.5) translateY(30px); background-position-y: bottom 50px;}
            }
        }

        .poke {
            background-color: white;
            background-size: contain;
            background-image: url("../imgs/pokemon.png");

            &:hover {
                animation-fill-mode: forwards;
                animation-timing-function: ease-in;
                animation-name: aumento;
                animation-duration: 4s;
            }

            @keyframes aumento {
                0%  { transform: scale(1, 1); background-position-x: left 100px; }
                100% { transform: scale(1.5, 1.5) translateY(30px); background-position-x: right 100px;}
            }
        }

        .stray {
            background-image: url("../imgs/stray.jpg");
        }

        .ass {
            background-image: url("../imgs/assassins.jpg");

             &:hover {
                animation-fill-mode: forwards;
                animation-timing-function: ease-in;
                animation-name: bordestras;
                animation-duration: 3s;
            }

            @keyframes bordestras {
                0%  { transform: scale(1, 1); }
                100% { transform: scale(1.5, 1.5) translateY(30px);}
            }
        }

        .spi {
            background-image: url("../imgs/spidy.jpg");
            background-color: rgb(99, 7, 7);

            &:hover {
                animation-fill-mode: forwards;
                animation-timing-function: ease-in;
                animation-name: aumento2;
                animation-duration: 4s;
            }

            @keyframes aumento2 {
                0%  { transform: scale(1, 1); }
                100% { transform: scale(1.5, 1.5) translateY(30px); background-position-y: top 20px;}
            }
        }

        .rat {
            background-image: url("../imgs/rndk.webp");

            &:hover {
                animation-fill-mode: forwards;
                animation-timing-function: ease-in;
                animation-name: aumento3;
                animation-duration: 3s;
            }

            @keyframes aumento3 {
                0%  { transform: scale(1, 1); }
                100% { transform: scale(1.5, 1.5) translateY(30px); 
                filter: invert(100%);}
            }
        }

        .ghos {
            background-image: url("../imgs/ghost.jpg");

            &:hover {
                animation-fill-mode: forwards;
                animation-timing-function: ease-in;
                animation-name: aumento4;
                animation-duration: 3s;
            }

            @keyframes aumento4 {
                0%  { transform: scale(1, 1); }
                100% { transform: scale(1.5, 1.5) translateY(30px); 
                filter: sepia(100%);}
            }
        }

        .yow {
            background-image: url("../imgs/yow.png");
            background-color: white;

            &:hover {
                animation-fill-mode: forwards;
                animation-timing-function: ease-in;
                animation-name: tornado;
                animation-duration: 3s;
            }

            @keyframes tornado {
                0%  { transform: scale(1, 1); }
                100% { transform: scale(1.5, 1.5) translateY(30px) rotateX(360deg);}
            }
        }

        .edit {
            background-image: url("../imgs/stream.jpeg");

            &:hover {
                animation-fill-mode: forwards;
                animation-timing-function: ease-in;
                animation-name: eiscue;
                animation-duration: 3s;
            }

            @keyframes eiscue {
                0%  { transform: scale(1, 1); }
                100% { transform: scale(1.5, 1.5) translateY(30px) skew(30deg, 30deg);}
            }
        }

        .pat {
            background-image: url("../imgs/patreon.webp");
        }

        .rrss {
            background-image: url("../imgs/insta.jpg");

            &:hover {
                animation-fill-mode: forwards;
                animation-timing-function: ease-in;
                animation-name: rotar;
                animation-duration: 3s;
            }

            @keyframes rotar {
                0%  { transform: scale(1, 1); }
                100% { transform: scale(1.5, 1.5) translateY(30px) rotate(360deg); }
            }
        }
    }

    .comer {
        background-color: red;
        p {
            background: none;
        }
        &:hover {
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-name: psicorayo;
            animation-duration: 5s;
            animation-direction: alternate;
        }

        @keyframes psicorayo {
            0%  { background-color: mediumorchid; }
            20% { background-color: blue; }
            40% { background-color: green; }
            60% { background-color: yellow; }
            80% { background-color: orange; }
            100% { background-color: red; }
        }
    }
}