* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: rgb(49, 49, 163);
  color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2, h5 {
  cursor: pointer;
  margin: 15px;
  letter-spacing: 0.25em;
}

h2:hover, h5:hover {
  animation-timing-function: ease-in;
  animation-name: idayvuelta;
  animation-duration: 0.4s;
  animation-direction: alternate;
}

@keyframes idayvuelta {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.7, 0.7);
  }
  100% {
    transform: scale(1, 1);
  }
}
table {
  background-color: white;
  border: 2px solid black;
}
table tr:nth-child(1) .hora:hover {
  background-color: rgb(163, 163, 163);
}
table tr:nth-child(2) .hora:hover {
  background-color: rgb(49, 49, 49);
}
table tr:nth-child(3) .hora:hover {
  background-color: rgb(163, 163, 163);
}
table tr:nth-child(4) .hora:hover {
  background-color: rgb(49, 49, 49);
}
table tr:nth-child(5) .hora:hover {
  background-color: rgb(163, 163, 163);
}
table tr:nth-child(6) .hora:hover {
  background-color: rgb(49, 49, 49);
}
table tr:nth-child(7) .hora:hover {
  background-color: rgb(163, 163, 163);
}
table tr:nth-child(8) .hora:hover {
  background-color: rgb(49, 49, 49);
}
table tr:nth-child(9) .hora:hover {
  background-color: rgb(163, 163, 163);
}
table tr:first-child th:not(:first-child):hover p {
  animation-timing-function: ease-in;
  animation-name: neblina;
  animation-duration: 0.4s;
  animation-direction: alternate;
}
@keyframes neblina {
  0% {
    transform: scale(0.5, 1);
    filter: blur(4px);
  }
  100% {
    transform: scale(1, 1);
  }
}
table tr th, table tr td {
  cursor: pointer;
  width: 200px;
  height: 75px;
}
table tr th {
  background-color: rgb(99, 99, 99);
}
table tr td {
  overflow: hidden;
  border: 2px solid black;
  text-align: center;
  font-weight: bold;
}
table tr td p {
  font-weight: bold;
  text-align: center;
  background-color: black;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  border-top-left-radius: 30%;
  border-bottom-left-radius: 30%;
}
table tr td:hover p {
  visibility: hidden;
}
table tr .back {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
table tr .gow {
  background-image: url("../imgs/gow.webp");
  background-color: rgb(108, 171, 223);
}
table tr .gow:hover {
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-name: subir;
  animation-duration: 4s;
}
@keyframes subir {
  0% {
    transform: scale(1, 1);
    background-position-y: top 50px;
  }
  100% {
    transform: scale(1.5, 1.5) translateY(30px);
    background-position-y: bottom 50px;
  }
}
table tr .poke {
  background-color: white;
  background-size: contain;
  background-image: url("../imgs/pokemon.png");
}
table tr .poke:hover {
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-name: aumento;
  animation-duration: 4s;
}
@keyframes aumento {
  0% {
    transform: scale(1, 1);
    background-position-x: left 100px;
  }
  100% {
    transform: scale(1.5, 1.5) translateY(30px);
    background-position-x: right 100px;
  }
}
table tr .stray {
  background-image: url("../imgs/stray.jpg");
}
table tr .ass {
  background-image: url("../imgs/assassins.jpg");
}
table tr .ass:hover {
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-name: bordestras;
  animation-duration: 3s;
}
@keyframes bordestras {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.5, 1.5) translateY(30px);
  }
}
table tr .spi {
  background-image: url("../imgs/spidy.jpg");
  background-color: rgb(99, 7, 7);
}
table tr .spi:hover {
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-name: aumento2;
  animation-duration: 4s;
}
@keyframes aumento2 {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.5, 1.5) translateY(30px);
    background-position-y: top 20px;
  }
}
table tr .rat {
  background-image: url("../imgs/rndk.webp");
}
table tr .rat:hover {
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-name: aumento3;
  animation-duration: 3s;
}
@keyframes aumento3 {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.5, 1.5) translateY(30px);
    filter: invert(100%);
  }
}
table tr .ghos {
  background-image: url("../imgs/ghost.jpg");
}
table tr .ghos:hover {
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-name: aumento4;
  animation-duration: 3s;
}
@keyframes aumento4 {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.5, 1.5) translateY(30px);
    filter: sepia(100%);
  }
}
table tr .yow {
  background-image: url("../imgs/yow.png");
  background-color: white;
}
table tr .yow:hover {
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-name: tornado;
  animation-duration: 3s;
}
@keyframes tornado {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.5, 1.5) translateY(30px) rotateX(360deg);
  }
}
table tr .edit {
  background-image: url("../imgs/stream.jpeg");
}
table tr .edit:hover {
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-name: eiscue;
  animation-duration: 3s;
}
@keyframes eiscue {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.5, 1.5) translateY(30px) skew(30deg, 30deg);
  }
}
table tr .pat {
  background-image: url("../imgs/patreon.webp");
}
table tr .rrss {
  background-image: url("../imgs/insta.jpg");
}
table tr .rrss:hover {
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-name: rotar;
  animation-duration: 3s;
}
@keyframes rotar {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.5, 1.5) translateY(30px) rotate(360deg);
  }
}
table .comer {
  background-color: red;
}
table .comer p {
  background: none;
}
table .comer:hover {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-name: psicorayo;
  animation-duration: 5s;
  animation-direction: alternate;
}
@keyframes psicorayo {
  0% {
    background-color: mediumorchid;
  }
  20% {
    background-color: blue;
  }
  40% {
    background-color: green;
  }
  60% {
    background-color: yellow;
  }
  80% {
    background-color: orange;
  }
  100% {
    background-color: red;
  }
}

/*# sourceMappingURL=style.css.map */
